h1(class="landpage-title", data-title="BugChess")
  |BugChess

form(action="/rooms", method="POST", class="join-room")
  label.form-title Enter your name and join a room
  input(type="text", name="name", class="joinput", maxlength="20")
  button(class="join")
    |Join

