!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/'+ stylesheet +'.css')
    script(src="/javascripts/frameworks/jquery-1.7.2.min.js")
    script(src="/javascripts/application.js")
  != messages()
  body!= body
